---
import { Image } from "astro:assets";
---

<section>
  <div class="container">
    <div class="all-entries">
      <h2 class="playfair-44">ALL ENTRIES</h2>
      <div class="tab-group-container">
        <ul class="tab-group inria-16">
          <span class="tab-container"></span>
          <li class="active" data-index="0" data-filter="all" id="news">All</li>
          <li data-index="1" data-filter="events">Events</li>
          <li data-index="2" data-filter="news">News</li>
        </ul>
      </div>
    </div>
    <div class="grid-bento">
      <div data-filter="all" id="news" class="tab-value bg-blue card">
        <span class="mark mark--md mark--inverted inria-16">News Post</span>
        <Image
          class="card__img"
          src="/images/education-training.png"
          width="256"
          height="216"
          alt="education training"
        />
        <div class="card__content">
          <p class="playfair-22">
            Lorem ipsum dolor sit amet, consectet adipiscing elit.
          </p>
          <div class="read-btn inria-16 mt-40">read this post</div>
        </div>
      </div>
      <div data-filter="all" id="news" class="tab-value bg-blue card">
        <span class="mark mark--md mark--inverted inria-16">News Post</span>
        <Image
          class="card__img"
          src="/images/education-training.png"
          width="256"
          height="216"
          alt="education training"
        />
        <div class="card__content">
          <p class="playfair-22">
            Lorem ipsum dolor sit amet, consectet adipiscing elit.
          </p>
          <div class="read-btn inria-16 mt-40">read this post</div>
        </div>
      </div>
      <div
        data-filter="all"
        id="events"
        class="tab-value bg-blue card card--event"
      >
        <span class="mark mark--inverted inria-16">event</span>
        <div class="card__content">
          <p class="playfair-36">
            Tree planting initiative in Green Fields Park.
          </p>
          <div class="read-btn inria-16 mt-40">read this post</div>
        </div>
        <Image
          class="card__img"
          src="/images/tree-planting.png"
          width="256"
          height="216"
          alt="education training"
        />
      </div>
      <div
        data-filter="all"
        id="events"
        class="tab-value bg-blue card card--event"
      >
        <span class="mark mark--inverted inria-16">event</span>
        <div class="card__content">
          <p class="playfair-36">
            Tree planting initiative in Green Fields Park.
          </p>
          <div class="read-btn inria-16 mt-40">read this post</div>
        </div>
        <Image
          class="card__img"
          src="/images/tree-planting.png"
          width="256"
          height="216"
          alt="education training"
        />
      </div>
      <div data-filter="all" id="news" class="tab-value bg-blue card">
        <span class="mark mark--md mark--inverted inria-16">News Post</span>
        <Image
          class="card__img"
          src="/images/education-training.png"
          width="256"
          height="216"
          alt="education training"
        />
        <div class="card__content">
          <p class="playfair-22">
            Lorem ipsum dolor sit amet, consectet adipiscing elit.
          </p>
          <div class="read-btn inria-16 mt-40">read this post</div>
        </div>
      </div>
      <div data-filter="all" id="news" class="tab-value bg-blue card">
        <span class="mark mark--md mark--inverted inria-16">News Post</span>
        <Image
          class="card__img"
          src="/images/education-training.png"
          width="256"
          height="216"
          alt="education training"
        />
        <div class="card__content">
          <p class="playfair-22">
            Lorem ipsum dolor sit amet, consectet adipiscing elit.
          </p>
          <div class="read-btn inria-16 mt-40">read this post</div>
        </div>
      </div>
      <div data-filter="all" id="news" class="tab-value bg-blue card">
        <span class="mark mark--md mark--inverted inria-16">News Post</span>
        <Image
          class="card__img"
          src="/images/education-training.png"
          width="256"
          height="216"
          alt="education training"
        />
        <div class="card__content">
          <p class="playfair-22">
            Lorem ipsum dolor sit amet, consectet adipiscing elit.
          </p>
          <div class="read-btn inria-16 mt-40">read this post</div>
        </div>
      </div>
      <div
        data-filter="all"
        id="events"
        class="tab-value bg-blue card card--event"
      >
        <span class="mark mark--inverted inria-16">event</span>
        <div class="card__content">
          <p class="playfair-36">
            Tree planting initiative in Green Fields Park.
          </p>
          <div class="read-btn inria-16 mt-40">read this post</div>
        </div>
        <Image
          class="card__img"
          src="/images/tree-planting.png"
          width="256"
          height="216"
          alt="education training"
        />
      </div>
      <div data-filter="all" id="news" class="tab-value bg-blue card">
        <span class="mark mark--md mark--inverted inria-16">News Post</span>
        <Image
          class="card__img"
          src="/images/education-training.png"
          width="256"
          height="216"
          alt="education training"
        />
        <div class="card__content">
          <p class="playfair-22">
            Lorem ipsum dolor sit amet, consectet adipiscing elit.
          </p>
          <div class="read-btn inria-16 mt-40">read this post</div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  import "../../scripts/tabsForEntries"
</script>
<style>
  .all-entries {
    display: flex;
    justify-content: space-between;
  }
  .tab-group {
    width: fit-content;
    display: flex;
    background-color: var(--blue);
    gap: 1rem;
    color: var(--green);
    padding: 1rem;
    padding-right: 1.6rem;
    position: relative;
    right: 0;
    top: 0;
    border-radius: 10rem;
    cursor: pointer;
  }
  .read-btn {
    cursor: pointer;
  }
  .playfair-44 {
    color: var(--blue);
  }
  .card__content {
    padding-top: 4rem;
  }
  .tab-group li {
    padding: 0.4rem 0;
    min-width: 11rem;
    text-align: center;
    border-radius: 10rem;
    position: relative;
    z-index: 200;
    font-size: 1.8rem;
  }
  .tab-group li:hover {
    opacity: 0.8;
  }
  .active {
    color: var(--blue);
  }
  .tab-group-container {
    width: fit-content;
    height: 6rem;
    top: 5rem;
    right: 0;
  }
  .tab-container {
    --move-value:6;
    position: absolute;
    top: 8px;
    left: calc(var(--move) + 8px);
    z-index: 100;
    background-color: white;
    min-width: 12rem;
    height: 70%;
    transform: translateX(var(--move));
    transition: left 0.3s ease;
    border-radius: 10rem;
    display: block;
  }
  .tab-value {
    animation: move 0.3s ease;
  }
  .grid-bento {
    display: grid;
    margin-top: 8rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.2rem;
    margin-left: -1rem;
  }
  .mark {
    top: 20rem;
    left: 3.2rem;
  }
  @keyframes move {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .card--event {
    grid-column: span 2;
  }
  .card:not(:last-child) {
    min-width: 27rem;
  }
  .card--event .read-btn {
    margin-top: 1rem;
    margin-bottom: 2.2rem;
  }
  .card img {
    object-fit: cover;
    object-position: top;
  }

  .card--event .mark {
    top: 19.5rem;
  }
  
  @media (max-width: 1300px) {

  .grid-bento {
    gap: 2.4rem;
   grid-template-columns:repeat(11, 1fr) ; 
  }
  .grid-bento .card{
    grid-column: span 3 !important;
  }
  .grid-bento .card--event{
    grid-column: span 5 !important;
  }
  }

  @media (max-width: 768px) {
    .all-entries{
      flex-direction: column;
    }
    
    .tab-group-container{
      margin: 2rem 0 -4rem auto;
    }
.grid-bento {
    gap: 2.4rem;
   grid-template-columns:repeat(2, 1fr) ; 
  }
.grid-bento .card{
  min-width: 100%;
    grid-column: span 1 !important;
  }
.grid-bento .card--event{
    grid-column: span 2 !important;
  }
  
  }

  @media (max-width: 576px) {
    .mark{
      transform: translateX(0);
    }
    .grid-bento{
      gap: 1.5rem;
    }
.grid-bento .card__content{
  padding: 2.8rem 1rem;
}


.grid-bento .card__content .playfair-36{
  font-size: var(--fz-500);
  line-height: 30px;
  padding-right: 1rem;
}
.grid-bento .card__content .playfair-22{
  font-size: var(--fz-300);
  line-height: 22px;
}
    .tab-group li{
      min-width: 8rem;
      font-size: var(--fz-200);
    }
    .tab-container{
    --move-value:4.6;
      min-width: 8rem;
    }
.card--event .mark {
    top: 16rem;
  }

  .grid-bento .card:nth-child(7),
  .grid-bento .card:nth-child(8),
  .grid-bento .card:nth-child(9)
  {
    display: none;
  }
  }

  @media (max-width: 376px) {
    .grid-bento{
      grid-template-columns: 1fr;
    }

    .grid-bento .card{
      height: fit-content !important;
      margin-bottom: ;
    }
    .grid-bento .card--event{
      grid-column: span 1 !important;
    }

  }
</style>
