<section class="wt-we-do bg-blue">
  <div class="container">
    <div>
      <h2 class="header-primary playfair-44">
        <div
          class="wt-we-do__mark mark mark--lg mark--inverted mark--m inria-16"
        >
          MISSION & VALUES
        </div>
        We strive for better environmental management, community empowerment, and
        livelihood improvement using tree-planting as an entry point.
      </h2>
    </div>
    <div class="grid-4">
      <div class="point">
        <img src="/images/Icon person.png" />
        <h2 class="playfair-28">Stay open-minded</h2>
        <p class="inria-16">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis
          scelerisque lectus.
        </p>
      </div>
      <div class="point">
        <img src="/images/Icon earth.png" />
        <h2 class="playfair-28">Protect the Earth</h2>
        <p class="inria-16">
          Aliquam ullamcorper feugiat urna ut bibendum. Nulla eu erat sed ipsum
          eleifend.
        </p>
      </div>
      <div class="point">
        <img src="/images/Icon sun.png" />
        <h2 class="playfair-28">Stay optimistic</h2>
        <p class="inria-16">
          Ut turpis ex, elementum ac sapien ac, commodo molestie lectus. Fusce
          et tempus nisi.
        </p>
      </div>
      <div class="point">
        <img src="/images/Icon heart.png" />
        <h2 class="playfair-28">Work from love</h2>
        <p class="inria-16">
          Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus.
        </p>
      </div>
      <div class="point">
        <img src="/images/Icon hand.png" />
        <h2 class="playfair-28">Lend a hand</h2>
        <p class="inria-16">
          Curabitur faucibus, libero vel posuere pharetra, dolor erat pharetra
          purus, ut accumsan.
        </p>
      </div>
      <div class="point">
        <img src="/images/Icon flower.png" />
        <h2 class="playfair-28">Plant new seeds</h2>
        <p class="inria-16">
          Donec a maximus ligula. Mauris consequat sapien lectus, eu aliquam sem
          cursus.
        </p>
      </div>
      <div class="point">
        <img src="/images/Icon people.png" />
        <h2 class="playfair-28">Work together</h2>
        <p class="inria-16">
          Morbi eu fermentum dui. Nunc sit amet erat ut urna facilisis iaculis.
          Vivamus efficitur.
        </p>
      </div>
      <div class="point">
        <img src="/images/Icon book.png" />
        <h2 class="playfair-28">Be an open book</h2>
        <p class="inria-16">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi
          felis, auctor vitae vestibulum vel, consequat eu.
        </p>
      </div>
    </div>
  </div>
</section>
<style>
  .wt-we-do {
    padding-top: 12rem;
  }
  .wt-we-do .grid-4 {
    margin-top: 10rem;
    gap: 4rem;
  }
  .wt-we-do img {
    width: 5rem;
  }
  @media (max-width: 768px) {
    .wt-we-do {
      padding-top: 12rem;
    }
  }
  @media (max-width: 576px) {
    .con .wt-we-do {
      padding-top: 8rem;
    }

    .wt-we-do .grid-4 {
      padding: 0 10rem;
    }
    .wt-we-do .playfair-44 {
      text-align: center;
      font-size: var(--fz-400);
    }
    .point .playfair-28 {
      font-size: var(--fz-300);
    }
    .point {
      width: fit-content;
    }

    .point p {
      font-size: var(--fz-100) !important;
      width: 18ch;
    }
  }

  @media (max-width: 376px) {
    .point p {
      width: 14ch;
    }
  }
</style>
