<section class="hero-section container">
  <img class="cover-img" src="/images/Eating boy.png" alt="" />
  <div class="">
    <div class="content-container flex">
      <div class="card card--wide card--hero">
        <div class="mark inria-16">the issue</div>
        <p class="playfair-28">
          We are an environmental organization that empowers communities,
          particularly women, to conserve the environment and improve
          livelihoods.
        </p>
      </div>
      <p class="tag flod-72">#stop climate change</p>
    </div>
  </div>
</section>
<style>
  .hero-section {
    min-height: 43rem;
    max-height: 43rem;
  }
  
  
  .tag {
    order: -1;
  }
 img{
position: absolute;
right: 0rem;
top: 0;
} 
  .hero-section .card {
    height: fit-content;
  }

  .content-container {
    flex-direction: row;
    justify-content: space-between;
  }

  /* Responsive */

  @media (max-width: 1300px) {
    .content-container {
      gap: 5rem;
    }
  }

  @media (max-width: 1100px) {
    .hero-section .card {
      padding: 4.6rem 6.4rem;
    }
  }

  @media (max-width: 768px) {
    .hero-section {
      min-height: 55rem;
    }
    .content-container {
      flex-direction: column;
      gap: 9.6rem;
    }
    .hero-section .card {
      padding-inline: 2rem;
      margin-top: -4rem;
    }

    .hero-section .mark {
      left: 6.4rem;
      transform: translate(0);
    }
    .content-container .tag {
      order: -1;
    }
  }

  @media (max-width: 576px) {
    .hero-section {
      min-height: 50rem;
    }
    .hero-section .card {
      padding: 3.6rem 1rem;
    }
    .playfair-28 {
      font-size: var(--fz-300);
    }
    .hero-section .inria-16 {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: 376px) {
    .hero-section {
      min-height: 52rem;
    }
  }
</style>