<section class="take-action bg-green">
  <div class="mark mark--center inria-16">take action</div>
  <div class="container grid-4">
    <div class="point">
      <h2 class="playfair-28">Learn</h2>
      <p class="inria-16">
        Get the facts about this issue and how we’re helping.
      </p>
    </div>
    <div class="point">
      <h2 class="playfair-28">Volunteer</h2>
      <p class="inria-16">
        Find out about upcoming events that need your help.
      </p>
    </div>
    <div class="point">
      <h2 class="playfair-28">Share</h2>
      <p class="inria-16">
        Let your social networks know about this important cause.
      </p>
    </div>
    <div class="point">
      <h2 class="playfair-28">Donate</h2>
      <p class="inria-16">
        Help us raise money to make a big difference with this issue.
      </p>
    </div>
  </div>
</section>
<style>
  .take-action {
    position: relative;
  }

  .point img {
    color: #354463;
  }

  .point h2 {
    margin: 1rem 0;
  }

  .point p {
    width: 25ch;
  }

  @media (max-width: 376px) {
    .take-action p {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
