<header class="">
    <a href="/" class="logo playfair-28">The Green <br>Belt Movement</a>
</header>
<style>
    .logo{
        margin: 0 auto;
        padding:2.4rem 0 ;
    }
    @media (max-width:768px ) {
        .logo{
            text-align: center;
        }
    }
</style>